#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;

}

#good-dog-filter {
  margin-top: 1vh;
  width: 35vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 1em;
}

#dog-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dog-bar button {
  height: 40%;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 1px solid white;
}

#dog-summary-container {
  height: 75vh;
  text-align: center;
}

#dog-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dog-info img {
  max-width: 75vw;
  max-height: 25vw;
}

body {
  margin: 0;
}
